<div class="container mt-4" class="p-4">
  <div class="shadow rounded p-4 mb-4 col-6 col-lg-4">
    <div class="d-flex">
    <h1><%= @task.title %></h1>
      <div class="m-2 mt-3">
        <% if @task.completed %>
        <div class="d-flex border border-info rounded px-2 align-middle w-100">
          <i class="far fa-check-square pt-1"> </i>
          <p class="ml-2 mb-0"> Task completed</p>
        </div>
        <% else %>
        <div class="d-flex border border-warning rounded px-2 align-middle w-100">
          <i class="far fa-square pt-1"></i>
          <p class="ml-2 mb-0">Task not complete</p>
        </div>
        <% end %>
      </div>
    </div>
    <p><%= @task.details %></p>
    <%= link_to "Update",
    edit_task_path(@task),
    class: "btn-sm btn-primary" %>
    <%= link_to "Delete #{@task.title}",
            task_path(@task),
            class: "btn-sm btn-danger",
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
  <p><%= link_to "Go back", tasks_path, class: "btn btn-success" %></p>
</div>
